#blog-title {
	margin-left: 23em;
	text-align: center;
	position: relative;
}

#compass {
	position: relative;
    height: 20px; 
    width: 18px;
}

#contact {
	width: 310px;
	padding: 10px;
	font-size: 20px;
	margin-left: 50px;
	margin-top: 50px;
	font-weight: bold;
	}

html {
	background-color: OldLace;
}

.indent {
	left: 30em;
}

#stamp {
	position: relative;
	left: 67em;
	margin-top: -6em;
}

#stamp img {
	height: 120px;
	width: 120px;

}

#text {
	background-image: url("http://www.zingerbugimages.com/backgrounds/parchment_paper_wallpaper_texture_seamless.jpg");
	background-repeat: repeat-y;
	background-size: 100%;
	background-position: fixed;
	font-family: Tahoma;
	position: absolute;
	right: 3em;
	left: 25em;
	padding: 4em;
}



